
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-text {
   color: #6439FF;
 }

 .nav-background{
  background-color: #F4F4FF;
 }

 .btn-white {
  color: #6439FF;
  border: 1px solid white;
  background-color: white;
  padding: 6px 12px;
  margin: 5px;
  margin-top:10px;
}

.btn-color-violeta {
  color: white;
  border: 1px solid #6439FF;
  background-color: #6439FF;
  border-radius: 3px;
  padding: 6px 12px;
  margin: 5px;
  margin-top:20px;
}

.btn-color-verde {
  color: #6439FF;
  border: 2px solid #76f7b9;
  background-color: white;
  border-radius: 3px;
  padding: 6px 12px;
  margin: 5px;
  font-weight: 400;
}

.btn-remove{
  color: #6439FF;
  border: 2px solid #76f7b9;
  background-color: white;
  border-radius: 3px;
  padding: 6px 12px;
  font-weight: 400;
  width: 10%;
}

.txt-violeta {
  color: #6439FF;
}

.txt-verde {
  color: #76f7b9;
}

image {
  width: 30%;
  margin-top: 2rem;
}

.title-name {
  margin-top: 2rem;
  color: #6439FF;
  font-weight: 200;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.title-card {
  margin-top: 2rem;
  color: #6439FF;
  margin-bottom: 1rem;
  font-weight: 300;
}

.bg-color {
  background-color: #F4F4FF;
  padding: 2rem;
}

.text-white {
  color: white;
}